FriendlyChatFunctions/.firebaserc
FriendlyChatFunctions/firebase.json
FriendlyChatFunctions/functions/.eslintrc.json
FriendlyChatFunctions/functions/node_modules/
FriendlyChatFunctions/functions/package.json
